.wrapper{
   width: 100%;
   margin: 0 auto;
}
.header{
   float: left;
   width: 100%;
   background-color: white;
   height:30px;
}
.wrapleft{
   float: left;
   width: 100%;
   background-color: white;
}
.left{
   margin-right: 175px;
   background-color: #afeeee;
   height: 700px;
   border: 1px solid black;
   margin-left: 30px;
   margin-bottom: 30px;
}
.caption{
   width: 30%;
   background-color:red;
   float: right;
   height: 700px;
}
.content{
   text-align: center;
   width: 30%;
   background-color:red;
   position: absolute;
   height: 400px;
}
.right{
   float: right;
   width: 160px;
   margin-left: -160px;
   background-color: #98fb98;
   height: 200px;
}

body {
   padding: 0px;
   margin: 0px;
}
